* parent */ .row { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%; }

/* child */ 

.col-sm-3 {  
    width: 300px;
    height: 300px;
    padding: 7em;
    margin: 1%; /* important, margin between columns */ 


    color: #FFF;
    background-color: hsla(195, 60%, 50%, 1); }

@media screen and (min-width: 500px) {
    .row {
        display: flex;
        flex-direction: row;
        padding-left: 15%;
        padding-right: 15%;
      }
    }
    body {
        background-color: black;
        font-family: cursive;
      }
      
      .glow {
        font-size: 80px;
        color: #fff;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }
      
      @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        }
        
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        }
      }
      
    